import DefaultTheme from 'vitepress/theme'
import Layout from './Layout.vue'
import EntityTable from './components/EntityTable.vue'
import ReviewBadge from './components/ReviewBadge.vue'
import './custom.css'

export default {
  extends: DefaultTheme,
  Layout,
  enhanceApp({ app }) {
    app.component('EntityTable', EntityTable)
    app.component('ReviewBadge', ReviewBadge)
  }
}
